<div class="col-md-offset-4" id="main-title"><h2><b>Resumen General</b></h2></div>

  <div class="row mtbox">          		
    <div class="col-md-2 col-sm-2 col-md-offset-2 box0">
      <div class="box1">
      <span class="fa-stack fa-lg">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-bolt fa-stack-1x"></i>
      </span>
      <h3><%= @circuits.count %></h3>
      </div>
      <p>Tienes <%= @circuits.count %>  circuitos configurados actualmente</p>
    </div>
        
    <div class="col-md-2 col-sm-2 box0">
      <div class="box1">
       <span class="fa-stack fa-lg">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-fire fa-stack-1x"></i>
      </span>
      <h3>3</h3>
      </div>
      <p>Tienes 3 alarmas por atender.</p>
    </div>
    
    <div class="col-md-2 col-sm-2 box0">
      <div class="box1">
       <span class="fa-stack fa-lg">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-newspaper-o fa-stack-1x"></i>
      </span>
      <h3>+2</h3>
      </div>
      <p>Se han agregado dos reportes a tu carpeta.</p>
    </div> 
    
    
    <div class="col-md-2 col-sm-2 box0">
      <div class="box1">
      <span class="fa-stack fa-lg">
      <i class="fa fa-database fa-stack-1x"></i>
      <% if @status = "Problem" %>
        <i class="fa fa-ban fa-stack-2x text-danger"></i>
      <% end %>
      </span>
      <h3><%= @status %>!</h3>
      </div>
      <% if @status = "Problem" %>
        <p><%= sanitize flash["error"]%></p>
      <% else %>
        <p><%= sanitize flash["success"]%></p>
      <% end %>
    </div>
  
  </div><!-- /row mtbox -->	
  <div class="row mt">
      <div class="col-md-4 mb">
       <div class="white-panel pn">
      <div class="white-header">
        <h5>Energia Acumulada Anual</h5>
      </div>
      <p style="font-size: 50px"><b>38,500</b></p>
      <p><b>kWh</b></p>
      <div class="row">
        <div class="col-md-6">
          <p class="small mt"><i class="fa fa-calendar"></i></p>
          <p>2015</p>
        </div>
        <div class="col-md-6">
          <p class="small mt">COSTO TOTAL</p>
          <p>$ 475,567</p>
        </div>
      </div>
    </div>
  </div><!-- /col-md-4 -->
 	
  <div class="col-md-4 mb">
     <div class="white-panel pn">
      <div class="white-header">
      <h5>Energia Acumulada Semana</h5>
      </div>
       <p style="font-size: 50px"><b>5,824</b></p>
       <p><b>kWh</b></p>
       <div class="row">
       <div class="col-md-6">
        <p class="small mt"><i class="fa fa-calendar"></i></p>
        <p>21/04/15</p>
         </div>
         <div class="col-md-6">
          <p class="small mt">COSTO TOTAL</p>
           <p>$ 15,597</p>
        </div>
       </div>
     </div>
  </div><!-- /col-md-4 -->
  	
<div class="col-md-4 mb">
          <div class="white-panel pn">
            <div class="white-header">
            <h5>Energia Acumulada Anual</h5>
          </div>
          <p style="font-size: 50px"><b>38,500</b></p>
          <p><b>kWh</b></p>
          <div class="row">
            <div class="col-md-6">
              <p class="small mt"><i class="fa fa-calendar"></i></p>
              <p>2015</p>
            </div>
            <div class="col-md-6">
              <p class="small mt">COSTO TOTAL</p>
              <p>$ 475,567</p>
            </div>
          </div>
        </div>
      </div><!-- /col-md-4 -->
  </div><!-- /row mtbox -->

            