<div id="login-page">
  <div class="container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form-login'}) do |f| %>
    <h2 class="form-login-heading">Ingresa a Tu Trile</h2>            
    <div class="login-wrap">
      <%= render 'layouts/alerts'%>
      <%= f.text_field :login, autofocus: true, class: 'form-control', placeholder: 'Nombre o Email' %>
      <br>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
      <br>
      <span class="pull-right">
        <%= link_to "Olvidaste tu password?", new_password_path(resource_name) %><br />
      </span>
    </br> 
  <button class="btn btn-theme btn-block" href="index.html" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
  <% if devise_mapping.rememberable? -%>
  <span class="pull-right">
   <%= f.check_box :remember_me %>  Recuerdame!
 </span>
 <% end %>
 <% end %>            
 </br>
 <hr>
 <div class="registration">
  Todavia no usas trile?<br/>
   <%= link_to "Crear Cuenta", new_registration_path(resource_name) %><br /><br />
    </a>
</div>
</div>

