
<div class="row">
<div class="col-xs-6 col-md-6">
	<div id="donut-example"></div>
<% @circuits.each do |c| %>
<div class="row">
  <div class="col-xs-1 col-md-1"><%= c.description %></div>
  <div class="col-xs-9 col-md-10">
  	<div class="progress progress-striped active">
    <div class="progress-bar progress-bar-<%=cycle("success","info","warning","danger")%>" role="progressbar" aria-valuenow="<%= c.part %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= c.part %>%">
   <span class="sr-only"><%=c.part%>% Complete</span>
   </div>
 	</div>
  </div>
  <div class="col-xs-2 col-md-1"><%= number_to_currency(c.wattshora) %></div>
</div>
<%end%>
</div> 
<div class="col-xs-6 col-md-6"></div>
</div>
<!-- ANIMATED PROGRESS BARS -->
<% @circuits.each do |c| %>
  <%= c.ids%>
  <%= c.part%>
  <%= c.wattshora%>
  <%= c.description%>
</br>
<%= c.attributes['part'] %>

</br>
<%end%>

	


